{% extends "base.html" %}

	{% block css %}
	<style>
	#menu_about{
		background: #17b21b;
		border-radius: 5px;
	}
	</style>
	{% endblock %}

{% block content %}
<div>
    <div style="font-size: 40px;padding:20px;text-align: center;font-family: 'Open Sans Condensed', sans-serif;">

            I'm <b>Patrick Mueller</b><br>a Student of Medical <b>Computer Science</b> <br>and<br> also an <b>App</b> and <b>Web</b>    Developer

    </div>
</div>
<div style="text-align: center;background-color:#b21059;color: #ffffff;">
    <div class="box">
        <img padding: 5px;background-color: #ffffff;margin: 10px;"  class="box-style" src="static/images/me.jpg" width=85%">
        <h4>Patrick Mueller</h4>
        Age: 24<br>
        From: Germany<br>
		Mail mo@floatec.de<br>
    </div>
    <div class="box"><h4>Skills</h4>
    <ul class="niceBox">
        <li>Java</li>
        <li>Python</li>
        <li>JavaScript</li>
        <li>CSS</li>
        <li>C/C++</li>
        <li>Android</li>
        <li>phonegap</li>
    </ul>
    </div>
    <div class="box"><h4>Projects</h4>
        <ul class="niceBox">
            <li>KFZ Kennzeichen</li>
            <li>Foobar Remote Control</li>
            <li>YouAreHero</li>
            <li>Mensa Mannheim App</li>
            <li>Mini mal listic</li>
            <li>...</li>
        </ul>
    </div>
</div>
<div style="font-size: 40px;padding:20px;text-align: center;font-family: 'Open Sans Condensed', sans-serif;font-weight: bold">

   Timeline

</div>
<div class="seperator"></div>
<div id="time" class="timeline">
    <ul class="intervals">
        <li class="first">2007 - 2009</li>      
        <li>2010</li>
        <li>2011</li>
        <li>2012</li>
		<li>2013</li>
        <li class="last">2014</li>
    </ul> <!-- end .intervals -->
    &nbsp;
    <ul class="events">
        <li class="cssPopup chart3" style="width: 250px; left: 1270px;">Exchange Semester BIT Mesra, India
           <em>(2014)</em>
            <span>
                <h4>Exchange Semester BIT Mesra, India<em>(22014)</em></h4>
                
            </span>
        </li>
        <li class="cssPopup chart1" style="width: 500px; left: 1015px;">
            Software Development, Innoforce Est.<em>(2013-2014)</em>
            <span>
                <h4>Software Development, Innoforce Est.<em>(2013-2014)</em></h4>
                <p>Innoforce is an successful Startup for Medical Comupter Science in the Principle of Liechtenstein.</p>
                <p>Development on the medocal research database for ENT Departments and Web Development</p>
                <ul class="innerList">
                    <li>Delphi Development</li>
                    <li>PHP, CSS3, HTML5</li>
                    <li>Data Migration Tools</li>
                </ul>
            </span>
        </li>
        <li class="cssPopup chart2" style="width: 500px; left: 1015px;">
            Mobile App Development, Freelancer<em>(2013-now)</em>
            <span>
                <h4>Mobile App Development, Freelancer<em>(2013-now)</em></h4>
                <p>Developing Applications for Andorid and iOS Devices based on HTML5 and Javascript.<p>
                <p>One of the customers is the young irish Startup form Dublin feeba.me .</p>
                <ul class="innerList">
                    <li>Native Andorid Applications</li>
                    <li>HTML 5 based Android Applications</li>
                    <li>HTML 5 based iOS Applications</li>
                    <li>Web based backends for mobile Applicaitons</li>
                </ul>
              </span>
        </li>
        <li class="cssPopup chart2" style="width: 750px; left: 766px;">
            Curses about Game Development and IT Sceurity,<br>University of Applied Science Mannehim, GPN13, Squareroots, ...<em>(2012-Now)</em>
             <span>
                <h4>Curses about Game Development and IT Sceurity</h4>
                <p>Since 2012 I give regularlly curses and Talks about Gamedevelopment and IT Security</p>
                <ul class="innerList">
                    <li>Organizer of the Gamejam HS-Mannheim</li>
                    <li>How to Gamejam @ GPN13 Conference</li>
                    <li>YouAreHero @ MRMCD 2012 Conference</li>
                    <li>Android Security @ Squareroots Workshop</li>
                    <li>...</li>
                </ul>
            </span>
        </li>
        <li class="cssPopup chart3" style="width: 500px; left: 770px;">
            Asisstent Basics of Computer Science,<br>University of Applied Science Mannehim<em style="color: #666666">(2012-2013)</em>
            <span>
                <h4>Asisstent Basics of Computer Science,<br>University of Applied Science Mannehim</h4>
                <p>Teaching lower grade students the basics of Computer Science.</p>
                <ul class="innerList">
                    <li>Curse: Basics of Computer Science</li>
                    <li>Curse: Algorithms and Data Strucutres</li>
                </ul>
            </span>
        </li>
        <li class="cssPopup chart4" style="width: 500px; left: 770px;">
            Web Developer,<br>YouAreHero.net<em>(2012-2013)</em>
            <span>
                <h4>Web Developer,<br>YouAreHero.net<em>(2012-2013)</em>/h4>
                <p>YouAreHero is a game and a platform to be a Hero in the real world.</p>
                <ul class="innerList">
                    <li>Web Developmenrt</li>
                    <li>Presenter on Events</li>
                </ul>
            </span>
        </li>
       
        <li class="cssPopup chart5" style="width: 250px; left: 770px;">
            C Development, <br>Max Plank Institut for medical Research<em>(2012)</em>
             <span>
                <h4>C Development, <br>Max Plank Institut for medical Research<em>(2012)</em></h4>
                <p>I developed for the Knossos Project. Knossos is a software tool for the visualization and annotation of 3D image data and was developed for the rapid reconstruction of neural morphology and connectivity. </p>
                <ul class="innerList">
                    <li>C Development on the 3D rendering parts</li>
                </ul>
            </span>
        </li>
        <li class="cssPopup chart3" style="width: 1000px; left: 510px;">
            Student Medical Cmputer Science, <br>University of Applied Science Mannehim<em style="color: #666666">(2011-now)</em>
             <span>
                <h4>Student Medical Computer Science, <br>University of Applied Science Mannehim<em>(2011-now)</em></h4>
                <p>Student for Medical Computer Scines.</p>
                <ul class="innerList">
                    <li>Bachelor Student</li>
                    <li>Member of the Student cancil</li>
                </ul>
            </span>
        </li>
        <li class="cssPopup chart4" style="width: 1250px; left: 260px">
            Open Source Android, Web and Game Development, <br>floatec.de <em>(2010 - now)</em>
            <span>
                <h4>Open Source Android, Web and Game Development, <br>floatec.de <em>(2010 - now)</em></h4>
                <p>Developing Android Applicaitons, Games, small Scripts,...</p>
                <ul class="innerList">
                    <li>Andorid Applications</li>
                    <li>Games</li>
                    <li>Python Scripts</li>
                    <li>Web Appliciatons</li>
                </ul>
            </span>
        </li>
        <li class="cssPopup chart6" style="width: 500px; left: 0%;">
            Software Development, <br>Process Informatk<em>(2007-2010)</em>
            <span>
                <h4> Software Development, <br>Process Informatk<em>(2007-2010)</em></h4>
                <p>Developing Web Apllications and Firmware for Embedded Devices. Also I Administrated and build up the Intranet and migrated the old Sales System.</p>
                <ul class="innerList">
                    <li>Web Applications</li>
                    <li>Administration</li>
                    <li>Migration</li>
                    <li>Development for Embedded Hardware</li>
                </ul>
            </span>
        </li>
    </ul> <!-- end .events -->
</div> <!-- end .timeline -->



{% endblock %}

{% block buttomscripts %}
<script>
document.getElementById("time").scrollLeft=99999;
</script>	
{% endblock %}