{% extends "base.html" %}

	{% block css %}
	<style>
	#menu_android{
		background: #17b21b;
		border-radius: 5px;
	}
	</style>
	{% endblock %}


{% block content %}
<div>
<div id="page-wrapper">
	<div id="page" class="container">
		<div id="featured">
			<h1>Andorid Apps</h1>
			<div class="row">
				<div class="col-md-6">
					<div class="box-style"> <a href="#"><img src="http://floatec.de/img/PROMO_foobar.png" width="140" height="80" alt="" /></a>
						<a href="https://market.android.com/details?id=com.floatec.foobar2000control&feature=search_result">
                        <h3><img style=" float: right ;border: 0px solid ; width: 65px; height: 30px;padding: 0px;background-color: transparent" alt="android market" src="http://developer.android.com/images/brand/en_generic_rgb_wo_45.png">Foobar Remote Control</h3>
                        </a>
                        <p>Allows you to control you foobar 2000 player with installed foo_httpcontrol <a href="http://www.floatec.de/downloads/">addon</a> with your android handy.</p>
                        <ul class="niceBox">
                        <li>basic control options like play&stop</li>
                        <li> use hardware volumekeys for control</li>
                        <li> select a track of the playlist</li>
                        <li> change playlist</li>
                        <li> manage your queue</li>
                        <li> change playing order</li>
                        <li> option to mute/pause on incoming calls(only with active running app)</li>
                        <li> go to a position in the track with the seekbar option(only works if you have done all steps of the installation instructions)</li>
                        <li> app2sd</li>
                        </ul>
                                    </div>

					<div class="box-style"> <a href="#"><img src="http://floatec.de/img/MENSA_promo.png" width="140" height="80" alt="" /></a>
                        <a href="https://market.android.com/details?id=de.floatec.mensa#">
                            <h3>
                                <img style=" float: right ;border: 0px solid ; width: 65px; height: 30px;padding: 0px;background-color: transparent" alt="android market" src="http://developer.android.com/images/brand/en_generic_rgb_wo_45.png">
                                Mensa Mannheim
                            </h3>
                        </a>
                        <p>Get the Menu for all Cafeterias in Mannheim directlly on your Smartphone.</p>
                        <ul class="niceBox"><li>Mensa am Schloss (Uni,Universität)</li>
                        <li>Mensa der Hochschule Mannheim</li>
                        <li> DHBW
                        Mensaria Metropol</li>
                       <li>DHBW Käfertaler Straße</li>
                        <li>Mensa der Musikhochschule</li></ul>
						</div>
				</div>
				<div class="col-md-6">
                    <div class="box-style"> <a href="#"><img src="http://floatec.de/img/PROMO_KFZ.png" width="140" height="80" alt="" /></a>
                        <a href="https://market.android.com/details?id=flaotec.KFZ_Kennzeichen&feature=search_result">
                            <h3>
                                <img style=" float: right ;border: 0px solid ; width: 65px; height: 30px;padding: 0px;background-color: transparent" alt="android market" src="http://developer.android.com/images/brand/en_generic_rgb_wo_45.png">
                                KFZ Kennzeichen D/A/CH/I/PL/F
                            </h3>
                        </a>
                        <p>With over 200.000 Downloads one of the succeding german Apps to know where a car is from.
                        <ul class="niceBox"> <li> sucht Stadt zu eingegebene Kennzeichen für Deutschland(auch alte Kennzeichen)</li>
                            <li> sucht Stadt zu eingegebene Kennzeichen für Österreich</li>
                            <li> sucht Stadt zu eingegebene Kennzeichen für Schweiz</li></li>
                            <li> sucht Stadt zu eingegebene Kennzeichen für Italien(Neu!)</li>
                            <li> sucht Stadt zu eingegebene Kennzeichen für Polen(Neu!)</li>
                            <li> durch anklicken zeigt es die Region in Google Maps</li>
                            <li> Länderkurzzeichen können gesucht werden</li>
                            <li> Simple Rückwärtssuche</li>
                            <li> Bundesländer können bei Deutschland Angezeigt werden</li>
                            <li> app2sd</li>
                            <li> benötigt keine Berechtigungen</li></ul>
                    </div>
					<div class="box-style">
                        <a href="https://market.android.com/details?id=com.floatec.dbox">
                            <h3>
                                <img style=" float: right ;border: 0px solid ; width: 65px; height: 30px;padding: 0px;background-color: transparent" alt="android market" src="http://developer.android.com/images/brand/en_generic_rgb_wo_45.png">
                                Dbox II Multi Remote Control
                            </h3>
                        </a>
                        <p>Control your up to 5 DBox 2 with your phone via Wi</p>
                        <ul class="niceBox">
                            <li>works with up to 5 boxes</li>
                            <li>control all keys</li>
                            <li>get infos about your box</li>
                            <li>show the LCD display</li>
                            <li>app2sd</li>
                        </ul>
                    </div>
        
      
        
        
			</div>
		</div>
	</div>
</div>


{% endblock %}