{% extends "base.html" %}

	{% block css %}
	<style>
	#menu_games{
		background: #17b21b;
		border-radius: 5px;
	}
	</style>
	{% endblock %}


{% block content %}
	<div class="center-cropped" 
	     style="background-image: url('{{ STATIC_URL }}/images/games.jpg');width: 100%;
    height: 250px;
    background-position: center center;
    background-repeat: no-repeat;">
	</div>
			<h1>Games</h1>
			<div class="row">
				<div class="col-md-8">
				
					<div class="jm-item second">
						<div class="jm-item-wrapper">
							<div class="jm-item-image">
								<img src="{{ STATIC_URL }}/images/minimalistic.png" style="width:100%" alt="Mini mal listic" />
								<div class="jm-item-description">
										This game has been developed for the Ludum Dare game jam at the GameLab Karlsruhe. 

										Enjoy :) 


										"Minima Listic is the story of a small computer troll that decides that he has to make his life simple again. 
										Help him in his attempt to bring simplicity back to his life by leading him and his pencils of doom 
										through various pictures and levels, unlocking and leveling new tools as he goes. 

										But beware of his enemies; the hipster, the art student and the babbitt are always on his tail." 
										
										<br><br>&bullet; libGDX<br>&bullet; Java
									   <div class="jm-item-button"><a target="_BLANK" href="http://www.ludumdare.com/compo/ludum-dare-26/?action=preview&uid=23011">more</a></div>
								</div>
							</div>
							<div class="jm-item-title">Mini mal listic (Games)</div>
						</div>
					</div>
                   
                </div>
				<div class="col-md-4">
				
					<div class="jm-item second">
						<div class="jm-item-wrapper">
							<div class="jm-item-image">
								<img src="{{ STATIC_URL }}/images/projectumbrella.jpg" style="width:100%" alt="Project Umbrella" />
								<div class="jm-item-description">
										A prototyped game for the GameJam IV at the HS Mannheim.
										<br>
										After an acident in the labretory of the Umbrella Project a big storm get to live and tries to make the world a better place in its own way.
										<br><br>&bullet; love2d<br>&bullet; lua
									   <div class="jm-item-button"><a target="_BLANK" href="https://github.com/floatec/project-umbrella">more</a></div>
								</div>
							</div>
							<div class="jm-item-title">Project Umbrella (Games)</div>
						</div>
					</div>
                   
                </div>
				
				
				<div class="col-md-4">
				
					<div class="jm-item second">
						<div class="jm-item-wrapper">
							<div class="jm-item-image">
								<img src="{{ STATIC_URL }}/images/derhimmelistvoll.jpg" style="width:100%" alt="Der Himmel ist voll - die Hölle aber auch..." />
								<div class="jm-item-description">
										A prototyped game for the GameJam III at the HS Mannheim.
										<br><br>&bullet; XNA 4.0<br>&bullet; C#
									   <div class="jm-item-button"><a target="_BLANK" href="https://github.com/floatec/die-Hoelle-ist-voll">more</a></div>
								</div>
							</div>
							<div class="jm-item-title">Der Himmel ist voll - die Hölle aber auch... (Games)</div>
						</div>
					</div>
                   
                </div>
				
				<div class="col-md-4">
				
					<div class="jm-item second">
						<div class="jm-item-wrapper">
							<div class="jm-item-image">
								<img src="{{ STATIC_URL }}/images/heinrich.png" style="width:100%" alt="Metzgermeister Heinrich Hacker" />
								<div class="jm-item-description">
										A prototyped game for the GameJam at the GPN13.
										<br><br>&bullet; lvoe2d<br>&bullet; lua
									   <div class="jm-item-button"><a target="_BLANK" href="https://github.com/floatec/Metzgermeister-Heinrich-Hacker">more</a></div>
								</div>
							</div>
							<div class="jm-item-title">Metzgermeister Heinrich Hacker (Games)</div>
						</div>
					</div>
                   
                </div>
				
				<div class="col-md-4">
				
					<div class="jm-item second">
						<div class="jm-item-wrapper">
							<div class="jm-item-image">
								<img src="{{ STATIC_URL }}/images/mlspa.jpg" style="width:100%" alt="My little Steampunk Adventure" />
								<div class="jm-item-description">
										A prototyped game for the GameJam II at the HS Mannheim.
										<br><br>&bullet; gameJS<br>&bullet; Javascript
									   <div class="jm-item-button"><a target="_BLANK" href="https://github.com/floatec/My-little-Steampunk-adventure">more</a></div>
									    <div class="jm-item-button"><a target="_BLANK" href="http://hsma.floatec.de/gamejam/mlspa/">play</a></div>
								</div>
							</div>
							<div class="jm-item-title">My little Steampunk Adventure (Games)</div>
						</div>
					</div>
                   
                </div>
				
				<div class="col-md-4">
				
					<div class="jm-item second">
						<div class="jm-item-wrapper">
							<div class="jm-item-image">
								<img src="http://globalgamejam.org/sites/default/files/styles/game_sidebar__wide/public/game/featured_image/splashbig.png?itok=e1nKACRx" style="width:100%" alt="Diversity" />
								<div class="jm-item-description">
										A prototyped game for the Global Gamejam 2014 at the HfG Karlsruhe.
										<br><br>&bullet; gameJS<br>&bullet; javascriptbr>&bullet; ruby
									   <div class="jm-item-button"><a target="_BLANK" href="http://globalgamejam.org/2014/games/diversity">more</a></div>
								</div>
							</div>
							<div class="jm-item-title">Diversity (Games)</div>
						</div>
					</div>
                   
                </div>
			</div>

{% endblock %}