{% extends "base.html" %}

	{% block css %}
	<style>
	#menu_home{
		background: #17b21b;
		border-radius: 5px;
	}
	</style>
	{% endblock %}

{% block content %}
<div id="featured-wrapper">
  <div id="featured" class="container">
		<header>Software Development that you love.</header>
		<a href="android.html" class="button">Android</a><a href="games.html" class="button">Games</a><a href="talks.html" class="button button-alt">Talks</a></div>
</div>

<div id="page-wrapper">
	<div  id="page" >
		<div id="featured">
			<h1>some of my projects</h1>
			
		</div>
	</div>
</div>
			<div class="row">
				<div class="col-md-8">
				
					<div class="jm-item second">
						<div class="jm-item-wrapper">
							<div class="jm-item-image">
								<img src="{{ STATIC_URL }}/images/gpn14.jpg" style="width:100%" alt="Mini mal listic" />
								<div class="jm-item-description">
										In the past years I have organized many game jams, and did talks and workshops about game development.
										<ul><li>many game jams at the devAcademy, HS Mannheim</li>
										<li>Gamejam at the Gulasch Programmiernacht 2014</li>
										<li>Talk: Howto game jam at the Gulasch Programiernacht 2013</li>
										<li>Talk: Developing games with lua and love2d at the hillhacks india</li>
										</ul>
									   <div class="jm-item-button"><a href="talks.html">more</a></div>
								</div>
							</div>
							<div class="jm-item-title">Gamejam at the GPN14 (Events)</div>
						</div>
					</div>
                   
                </div>
				<div class="col-md-4">
				
					<div class="jm-item second">
						<div class="jm-item-wrapper">
							<div class="jm-item-image">
								<img src="http://floatec.de/img/PROMO_foobar.png" style="width:100%" alt="foobar remote control" />
								<div class="jm-item-description">
										Allows you to control your foobar 2000 player with installed foo_httpcontrol addon(http://www.floatec.de/downloads) with your android smartphone.
									   <div class="jm-item-button"><a  href="andoid.html">more</a></div>
								</div>
							</div>
							<div class="jm-item-title">Foobar Remote control (Andorid)</div>
						</div>
					</div>
                   
                </div>
				
				
				<div class="col-md-4">
				
					<div class="jm-item second">
						<div class="jm-item-wrapper">
							<div class="jm-item-image">
								<img src="http://floatec.de/img/PROMO_KFZ.png" style="width:100%" alt="KFZ Kennzeichen App" />
								<div class="jm-item-description">
										Findet die die Stadt zum passenden Kennzeichen heraus
										Benötigt keine Internetverbindung wie vergleichbare Apps!
									   <div class="jm-item-button"><a  href="andorid.html">more</a></div>
								</div>
							</div>
							<div class="jm-item-title">KFZ Kennzeichen (Andorid)</div>
						</div>
					</div>
                   
                </div>
				
				<div class="col-md-4">
				
					<div class="jm-item second">
						<div class="jm-item-wrapper">
							<div class="jm-item-image">
								<img src="http://floatec.de/img/MENSA_promo.png" style="width:100%" alt="Mensa App" />
								<div class="jm-item-description">
										der Aktuelle Mensaplan von allen Mensen des Studentenwerk Mannheims immer auf deinem Smartphone.
										
									   <div class="jm-item-button"><a target="_BLANK" href="https://github.com/floatec/Metzgermeister-Heinrich-Hacker">more</a></div>
								</div>
							</div>
							<div class="jm-item-title">Mensa Studentenwerk Mannheim (Android)</div>
						</div>
					</div>
                   
                </div>
				
				<div class="col-md-4">
				
					<div class="jm-item second">
						<div class="jm-item-wrapper">
							<div class="jm-item-image">
								<img src="{{ STATIC_URL }}/images/minimalistic.png" style="width:100%" alt="Mini mal listic" />
								<div class="jm-item-description">
										This game has been developed for the Ludum Dare game jam at the GameLab Karlsruhe. 

										Enjoy :) 


										"Minima Listic is the story of a small computer troll that decides that he has to make his life simple again. 
										Help him in his attempt to bring simplicity back to his life by leading him and his pencils of doom 
										through various pictures and levels, unlocking and leveling new tools as he goes. 

										But beware of his enemies; the hipster, the art student and the babbitt are always on his tail." 
										
										<br><br>&bullet; libGDX<br>&bullet; Java
									   <div class="jm-item-button"><a target="_BLANK" href="http://www.ludumdare.com/compo/ludum-dare-26/?action=preview&uid=23011">more</a></div>
								</div>
							</div>
							<div class="jm-item-title">Mini mal listic (Games)</div>
						</div>
					</div>
				</div>
   				<div class="col-md-4">
				
   					<div class="jm-item second">
   						<div class="jm-item-wrapper">
   							<div class="jm-item-image">
   								<img src="{{ STATIC_URL }}/images/projectumbrella.jpg" style="width:100%" alt="Project Umbrella" />
   								<div class="jm-item-description">
   										A prototyped game for the GameJam IV at the HS Mannheim.
   										<br>
   										After an acident in the labretory of the Umbrella Project a big storm get to live and tries to make the world a better place in its own way.
   										<br><br>&bullet; love2d<br>&bullet; lua
   									   <div class="jm-item-button"><a target="_BLANK" href="https://github.com/floatec/project-umbrella">more</a></div>
   								</div>
   							</div>
   							<div class="jm-item-title">Project Umbrella (Games)</div>
   						</div>
   					</div>
                   
                   </div>
   				<div class="col-md-4">
				
   					<div class="jm-item second">
   						<div class="jm-item-wrapper">
   							<div class="jm-item-image">
   								<img src="{{ STATIC_URL }}/images/heinrich.png" style="width:100%" alt="Metzgermeister Heinrich Hacker" />
   								<div class="jm-item-description">
   										A prototyped game for the GameJam at the GPN13.
   										<br><br>&bullet; lvoe2d<br>&bullet; lua
   									   <div class="jm-item-button"><a target="_BLANK" href="https://github.com/floatec/Metzgermeister-Heinrich-Hacker">more</a></div>
   								</div>
   							</div>
   							<div class="jm-item-title">Metzgermeister Heinrich Hacker (Games)</div>
   						</div>
   					</div>
                   
                   </div>
                
			</div>

{% endblock %}


