{% extends "base.html" %}

	{% block css %}
	<style>
	#menu_talks{
		background: #17b21b;
		border-radius: 5px;
	}
	</style>
	{% endblock %}


{% block content %}
<div>
	<div class="center-cropped" 
	     style="background-image: url('{{ STATIC_URL }}/images/talk.jpg');width: 100%;
    height: 250px;
    background-position: center center;
    background-repeat: no-repeat;">
	</div><div class="seperator"></div>
    <div style="font-size: 40px;padding:20px;text-align: center;font-family: 'Open Sans Condensed', sans-serif;">

           Some Talks and Events I have organized

    </div>
</div>
<div style="text-align: center;background-color:#b21059;color: #ffffff;">
    
    <div class="box">
    <ul class="niceBox">
        <li>Security</li>
    </ul>
    </div>
    <div class="box">
        <ul class="niceBox">
            <li>Gameing</li>
        </ul>
    </div>
    <div class="box">
    <ul class="niceBox">
        <li>Events</li>
    </ul>
    </div>
</div>
<div style="font-size: 40px;padding:20px;text-align: center;font-family: 'Open Sans Condensed', sans-serif;font-weight: bold">

   Timeline

</div>
<div class="seperator"></div>
<div id="time" class="timeline">
    <ul class="intervals">
        <li width="250" class="first">2012</li>      
		<li width="250">2013</li>
        <li width="250" >2014</li>
		
		li width="250" class="last">2015</li>
    </ul> <!-- end .intervals -->
    &nbsp;
	    <ul class="events">
			  <ul class="events">
			        <li class="cssPopup chart1" style="width: 250px; left: 760px;">
			            EVENT: GameJam V (devAcademy & MAD lab)<em>(2015)</em>
			            <span style="text-align:left	">
			                <h4>Organizer of the GameJam V<em>(2015)</em></h4>
			                <p>Gamejam at the HS Mannheim</p>
							
			                <ul class="innerList">
			                    <li>libGDX</li>
			                </ul>
			            </span>
			        </li>
	        <li class="cssPopup chart1" style="width: 250px; left: 505px;">
	            Talk: interduction to CTFs @ hillhacks<em>(2014)</em>
	            <span style="text-align:left	">
	                <h4>Talk: interduction to CTFs @ hillhacks<em>(2014)</em></h4>
	                <p>interduction to CTF competitions at the hillhacks conference in dharamsala, india</p>
					
	                <ul class="innerList">
						 <li>lua</li>
	                    <li>love2d</li>
	                </ul>
	            </span>
	        </li>
	        <li class="cssPopup chart1" style="width: 250px; left: 505px;">
	            Workshop: Game development with love2d @ hillhacks<em>(2014)</em>
	            <span style="text-align:left	">
	                <h4>Workshop: Game development with love2d @ hillhacks<em>(2014)</em></h4>
	                <p>workshop aabout game development at the hillhacks conference in dharamsala, india</p>
					
	                <ul class="innerList">
						 <li>lua</li>
	                    <li>love2d</li>
	                </ul>
	            </span>
	        </li>
	    <ul class="events">
	        <li class="cssPopup chart3" style="width: 250px; left: 505px;">
	            EVENT: GameJam IV @ GPN14<em>(2014)</em>
	            <span style="text-align:left	">
	                <h4>Organizer of the GameJam at the Gulasch Programiernacht 14<em>(2014)</em></h4>
	                
	                <ul class="innerList">
	                    <li>love2d</li>
	                </ul>
	            </span>
	        </li>		
    <ul class="events">
        <li class="cssPopup chart1" style="width: 250px; left: 505px;">
            EVENT: GameJam IV (devAcademy)<em>(2014)</em>
            <span style="text-align:left	">
                <h4>Organizer of the GameJam IV<em>(2014)</em></h4>
                <p>Gamejam at the HS Mannheim</p>
				<pre>	Dienstag:
	09 - 14 Uhr: Einfuehrung in LUA &amp; love2d
	14 - 15 Uhr: HowTo GameJam
	15 - 18 Uhr: Entwickeln des Spiels 
	Mittwoch bis Freitag:
	09 - 15 Uhr: Entwickeln des Spiels
	Freitag:
	15 - 17 Uhr: Vorstellung der Ergebnisse 
</pre>
                <ul class="innerList">
                    <li>love2d</li>
                </ul>
            </span>
        </li>
		<li class="cssPopup chart1" style="width: 250px; left: 252px;">
		            EVENT: GameJam III (devAcademy)<em>(2013)</em>
		            <span style="text-align:left	">
		                <h4>Organizer of the GameJam III<em>(2013)</em></h4>
		                <p>Gamejam at the HS Mannheim</p>
						<pre>Montag:
09:00 – 9:20 Uhr:  Vorstellung
09:20 – 11:30 Uhr C# & XNA 
12:30 – 14:00 Uhr C# & XNA 
14:00 – 15:00 Uhr HowTo Gamejam
15:00 Uhr Themenauslosung
15:30 Uhr Pitches mit eurem Ideen + Teambildung
Dienstag:
10 - 15 Uhr: Entwickeln eures Spiels
Mittwoch:
10 - 13 Uhr: Entwickeln eures Spiels
13 - 14 Uhr: Zwischenpräsentation
14 - 15 Uhr: Entwickeln eures Spiels
Donnerstag:
10 - 15 Uhr: Entwickeln eures Spiels
Freitag:
10 - 12 Uhr: Entwickeln eures Spiels
13 - 15 Uhr: Vorstellung der Ergebnisse
		</pre>
		                <ul class="innerList">
		                    <li>XNA</li>
		                </ul>
		            </span>
		        </li>
		        <li class="cssPopup chart2" style="width: 250px; left: 252px;">
		            TALK: protocols and wireshark @ squaeroots<em>(2013)</em>
		            <span style="text-align:left	">
		                <h4>protocols and wireshark<em>(2013)</em></h4>
		                <p>talk: protocols and wireshark @ squareroots</p>
		        </li>
		        <li class="cssPopup chart3" style="width: 250px; left: 252px;">
		            TALK: HowTo Gamejam @ GPN13<em>(2013)</em>
		            <span style="text-align:left	">
		                <h4>protocols and wireshark<em>(2013)</em></h4>
		                <p>talk: protocols and wireshark @ squareroots</p>
		        </li>
	  		<li class="cssPopup chart1" style="width: 250px; left: 252px;">
	  		            EVENT: GameJam II (devAcademy)<em>(2013)</em>
	  		            <span style="text-align:left	">
	  		                <h4>Organizer of the GameJam II<em>(2013)</em></h4>
	  		                <p>Gamejam at the HS Mannheim</p>
	  						<pre>Montag:
09 - 11 Uhr: Einfuehrung in Javascript
12 - 14 Uhr: Einfuehrung in Framework
14 - 15 Uhr: HowTo GameJam
15      Uhr: Bekanntgabe des Themas
15 - 18 Uhr: Entwickeln des Spiels 
Dienstag:
09 - 15 Uhr: Entwickeln eures Spiels
Mittwoch:
09 - 13 Uhr: Entwickeln eures Spiels
13 - 14 Uhr: Zwischenpräsentation
14 - 15 Uhr: Entwickeln eures Spiels
Donnerstag:
09 - 15 Uhr: Entwickeln eures Spiels
Freitag:
09 - 12 Uhr: Entwickeln eures Spiels
13 - 15 Uhr: Vorstellung der Ergebnisse
	  		</pre>
	  		                <ul class="innerList">
	  		                    <li>gameJS</li>
	  		                </ul>
	  		            </span>
	  		        </li>
      <li class="cssPopup chart3" style="width: 250px; left: 0px;">
          TALK: You Are HERO - Questdesign im Reallife @ MRMCD12<em>(2012)</em>
          <span style="text-align:left	">
              <h4>You Are HERO - Questdesign im Reallifek<em>(2013)</em></h4>
              <p>talk: You Are HERO - Questdesign im Reallife @ MRMCD12</p>
      </li>
      <li class="cssPopup chart1" style="width: 250px; left: 0px;">
          EVENT: GameJam I @ HS-Mannheim<em>(2012)</em>
          <span style="text-align:left	">
              <h4>GameJam I @ HS-Mannheim<em>(2012)</em></h4>
              <p>First GameJam @ HS-Mannheim</p>
      </li>
	  
    </ul> <!-- end .events -->
</div> <!-- end .timeline -->
<div class="seperator"></div>
{% endblock %}

{% block buttomscripts %}
<script>
document.getElementById("time").scrollLeft=99999;
</script>	
{% endblock %}